@tailwind components;

@layer components {
  .JsonViewerEditor {
    @apply dark:bg-zinc-900 dark:text-blue-100;
  }

  .tool-bar-button {
    @apply text-powderBlue-500 hover:text-offWhite hover:bg-powderBlue-200;
    @apply dark:text-slate-200 dark:hover:bg-powderBlue-600;
  }

  .JsonViewerEditor {
    height: 100%;
    width: 100%;
  }

  .JsonViewerEditor .main-textarea {
    background: none;
    border-radius: 1rem;
    resize: none;
    padding: 0.5rem 1rem 1rem 0.5rem;
    outline: none;
    @apply font-mono text-[1rem] md:text-[2vmin];
    @apply h-[calc(100%-3rem)] md:h-[calc(100%-1.5rem)];
    @apply border-none w-full;
  }
}
