@import url(./../../../common/\ less/constants.less);
@import url(json-viewer-mobile.less);

.view-switcher {
  position: absolute;
  height: 7.5vh;
  width: 95vw;
  top: 48px;
  left: 2.5vw;
  display: flex;

  .buttons {
    margin: auto;
    font-size: 0.6rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;

    b {
      width: 1rem;
    }
  }
}

.json-viewer-container {
  border: solid 2px transparent;
  &:has(.main-textarea:focus) {
    border: solid 2px darken(@powder-blue, 30%);
    animation: borderFade 2s ease-in-out infinite;
  }
}

@keyframes borderFade {
  from,
  to {
    border: solid 2px transparent;
  }
  50% {
    border: solid 2px darken(@powder-blue, 35%);
  }
}

.readonly-view {
  height: 100%;
  width: 100%;
}
