@import url(./../../../common/\ less/constants.less);
.JsonViewerEditor {
  height: 100%;
  width: 100%;

  .main-textarea {
    height: calc(100% - 1.5rem);
    width: 100%;
    background: none;
    border: none;
    border-radius: 1rem;
    font-size: 2vmin;
    resize: none;
    padding: 0.5rem 1rem 1rem 0.5rem;
    outline: none;
    .font-code();
  }
}
