@tailwind components;

@layer components {
  .JsonViewerToolBar {
    @apply border-b-[1px];
    @apply border-b-black/10 dark:border-b-white/10;
  }

  .JsonViewerToolBar {
    @apply flex flex-row overflow-y-hidden overflow-x-auto;
    @apply items-center pl-4;
    @apply h-14 md:h-8 mx-4 md:mx-0;
  }

  .JsonViewerToolBar .tool-bar-button {
    @apply flex flex-row items-center;
    @apply border-none rounded px-2.5 py-0.5 md:px-2 md:py-0;
    @apply text-center cursor-pointer select-none whitespace-nowrap;
    @apply mx-2 md:mx-1.5;
  }

  .JsonViewerToolBar .tool-bar-button:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  .JsonViewerToolBar svg {
    @apply ml-[-0.2rem] mr-[0.1rem];
    @apply h-4 md:h-3;
    @apply w-4 md:w-3;
  }

  .JsonViewerToolBar .tool-bar-button-label {
    @apply font-medium lowercase text-base md:text-xs;
  }
}
