@tailwind components;

@layer components {
  .JsonViewerToolBar {
    border-bottom: 1px solid;
    @apply border-b-black/10 dark:border-b-white/10;
  }

  .JsonViewerToolBar {
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    overflow-y: hidden;
  }

  .JsonViewerToolBar .tool-bar-button {
    width: min-content;
    height: min-content;
    font-size: 0.6rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 0 5px 0 5px;
    text-transform: uppercase;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    white-space: nowrap;
  }

  /* mobile */
  /* .JsonViewerToolBar {
        height: 3rem;
        overflow-x: auto;
        margin: 0 1rem 0 1rem;
    }

    .JsonViewerToolBar .tool-bar-button {
        font-size: 1rem;
        border-radius: 0.5rem;
        margin: 0 0.5rem 0 0.5rem;
        text-transform: uppercase;
    } */
}
