@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  @apply dark:[color-scheme:dark];
}

:root {
  height: 100svh;
}

html {
  font-family: "Ubuntu", helvetica, san-serif;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 4vmin;
  height: 100svh;
}

body {
  @apply text-slate-950 dark:text-offWhite;
  position: absolute;
  left: 0;
  top: 0;
  height: 100svh;
  width: 100dvw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
