@tailwind components;

@layer components {
  .JsonViewer {
    @apply bg-powderBlue-50 dark:bg-gray-950;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .json-viewer-container {
    @apply shadow-subtle dark:shadow-subtleWhite;
    position: absolute;
    height: calc(90vh - 48px);
    width: 95vw;
    top: calc(7.5vh + 48px);
    left: 2.5vw;
    border-radius: 1rem;
    overflow: hidden;
  }

  .view-switcher {
    position: absolute;
    height: 7.5vh;
    width: 95vw;
    top: 48px;
    left: 2.5vw;
    display: flex;
  }

  .view-switcher .buttons {
    margin: auto;
    font-size: 0.6rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
  }

  .view-switcher .buttons b {
    width: 1rem;
  }

  .view-switcher-button {
    @apply shadow-subtle dark:shadow-subtleWhite;
    @apply selected:text-offWhite selected:bg-powderBlue-400;
    @apply text-powderBlue-600 hover:text-offWhite hover:bg-powderBlue-300;
    width: 3rem;
    padding: 0.1rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  .json-viewer-container {
    border: solid 2px transparent;
  }

  .json-viewer-container:has(.main-textarea:focus) {
    @apply border-powderBlue-250;
    animation: borderFade 2s ease-in-out infinite;
  }

  @keyframes borderFade {
    from,
    to {
      border: solid 2px transparent;
    }
    50% {
      @apply border-powderBlue-300;
    }
  }

  .readonly-view {
    height: 100%;
    width: 100%;
  }
}
