@tailwind components;

@layer components {
    
  .JsonViewer {
    @apply bg-powderBlue-50;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .json-viewer-container {
    @apply shadow-subtle;
    position: absolute;
    height: calc(90vh - 48px);
    width: 95vw;
    top: calc(7.5vh + 48px);
    left: 2.5vw;
    border-radius: 1rem;
    overflow: hidden;
  }

  .view-switcher-button {
    @apply shadow-subtle text-powderBlue-600;
    @apply data-[selected=true]:text-offWhite data-[selected=true]:bg-powderBlue-400;
    @apply hover:text-offWhite hover:bg-powderBlue-300;
    width: 3rem;
    padding: 0.1rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
}
