@tailwind components;

@layer components {
  .label-separator {
    @apply text-shakespeare-400 dark:text-offWhite;
  }

  .label-icon {
    @apply text-shakespeare-400 hover:text-shakespeare-200 dark:text-offWhite dark:hover:text-offWhite/80;
  }

  .JsonViewerTree {
    @apply dark:bg-zinc-900 dark:text-cyan-50;

    height: 100%;
    width: 100%;
  }

  .JsonViewerTree .MuiTreeItem-content.Mui-selected {
    @apply dark:bg-cyan-950;
  }

  .JsonViewerTree .MuiTreeItem-content {
    @apply dark:hover:bg-cyan-900;
  }

  .JsonViewerTree .MuiCollapse-root.MuiTreeItem-group {
    @apply dark:border-l-zinc-700;
  }

  .JsonViewerTree .main-tree-view {
    @apply h-[calc(100%-3rem)] md:h-[calc(100%-1.5rem)];
    padding: 0.5rem 1rem 1rem;
  }

  .JsonViewerTree > ul {
    @apply md:overflow-x-hidden md:pb-0;

    height: 100%;
    overflow-x: scroll;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .JsonViewerTree > ul .MuiTreeItem-content {
    @apply md:rounded-[0.2rem] md:min-h-[1rem] md:py-0;

    border-radius: 0.4rem;
    margin: 0.1rem 0;
    align-items: center;
    min-height: 2rem;
    height: fit-content;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  .JsonViewerTree > ul .MuiTreeItem-iconContainer {
    @apply md:px-0;

    padding: 0 0.5rem;
  }

  .JsonViewerTree > ul .MuiTreeItem-iconContainer svg {
    @apply md:text-[0.85rem];

    font-size: 1rem;
  }

  .JsonViewerTree > ul .MuiTreeItem-label {
    @apply md:text-[0.9rem];

    font-size: 1rem;
    padding: 0 0.6rem 0 0.1rem;
    text-align: start;
  }

  .JsonViewerTree > ul > li {
    @apply md:w-auto md:max-w-none md:min-w-0;

    width: max-content;
    max-width: 130dvw;
    min-width: 100%;
  }

  .JsonViewerTree > ul .MuiTreeItem-label .JsonViewerTreeItemLabel {
    display: flex;
    justify-content: space-between;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content {
    display: flex;
    width: 100%;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-separator {
    cursor: pointer;
    user-select: none;
    margin: 0 0.2rem;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-value {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-name,
  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-value,
  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-action-button {
    border: none;
    background: transparent;
    padding: 0;
    text-align: left;
    font: inherit;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-name:disabled,
  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-value:disabled {
    opacity: 1;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-name {
    white-space: nowrap;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-name:focus-visible,
  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-content
    .label-value:focus-visible,
  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-action-button:focus-visible,
  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    input:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 1px;
    border-radius: 0.2rem;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-actions {
    @apply md:w-[2rem];

    width: 3rem;
    padding: 0 0.5rem;
    display: none;
    align-items: center;
    justify-content: end;
  }

  .JsonViewerTree > ul .MuiTreeItem-label .JsonViewerTreeItemLabel .label-icon {
    @apply md:text-[0.85rem];

    align-self: center;
    margin-left: 0.2rem;
    font-size: 1rem;
    padding: 0;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label
    .JsonViewerTreeItemLabel
    .label-icon--remove {
    @apply md:text-[0.95rem];

    font-size: 1.08rem;
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label:hover
    .JsonViewerTreeItemLabel[data-is-editing="false"]
    .label-content {
    @apply md:w-[calc(100%-3rem)];

    width: calc(100% - 4rem);
  }

  .JsonViewerTree
    > ul
    .MuiTreeItem-label:hover
    .JsonViewerTreeItemLabel[data-is-editing="false"]
    .label-actions {
    display: flex;
  }

}
