@import url(./../../../common/\ less/constants.less);

@nav-bar-height: 48px;

.NavBar {
  position: absolute;
  top: 0;
  height: @nav-bar-height;
  width: 100vw;
  z-index: 1;
  .glass();

  ul {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 5vh 0 5vh;
  }

  li {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    height: 100%;

    &:not(.expanded-content) {
      opacity: 0.5;

      &:hover {
        opacity: 0.6;
      }
    }

    &.jh-logo {
      .jh-logo-bw {
        height: 36px;
      }
    }

    &.handle {
      font-size: 32px;
      align-self: flex-start;

      .handle-symbol {
        transition: transform ease 0.5s;
      }
    }

    &.expanded-content {
      display: none;
    }
  }

  &[data-expanded=true] {
    box-shadow: none;
    height: 100vh;

    ul {
      flex-direction: column;
      justify-content: initial;
    }

    li {
      height: @nav-bar-height;
      width: 100%;

      &.jh-logo {
        display: none;
      }

      &.handle {
        display: flex;
        justify-content: flex-end;

        .handle-symbol {
          transform: rotate(45deg);
        }
      }

      &.expanded-content {
        display: flex;
        flex-direction: column;
        height: calc(100% - @nav-bar-height);
        width: 100%;
        overflow: hidden;

        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          font-size: 2vmin;
          text-align: left;
          padding-left: 1rem;
          padding-right: 3rem;
          margin-right: -2rem;
          height: calc(100% - 3rem);
          overflow-y: auto;
          font-size: 3vmin;

          .title {
            font-size: 6vmin;
            font-weight: 500;
          }

          * {
            width: 100%;
          }

          .inner-content {
            display: flex;
            flex-direction: column;
            margin: auto;
            max-width: @max-content-width;

            a {
              color: inherit;
              &:hover {
                opacity: 0.5;
              }
            }
          }

          // TODO: move this inside markdown component
          code {
            white-space: break-spaces;
            font-size: 2.5vmin;
            user-select: text;
            cursor: auto;
          }
        }
      }
    }
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

@media (max-width: @mobile-screen-width) {
  .NavBar[data-expanded=true] {
    li.expanded-content {
      .content {
        font-size: 6vmin;
        height: calc(100% - 6rem);
        text-align: center;

        .title {
          font-size: 8vmin;
        }

        code {
          font-size: 5vmin;
          text-align: left;
        }
      }
    }
  }
}
